<% include partials/header %>





  <div id="page-wrapper">


    <section id="header-main" class="row">
      <div class="col-md-12">


        <!-- DONUT CHART -->
        <div class="box box-sucess" style="height: auto; padding-bottom:10px">
          <div class="box-header">
            <h1 class="page-header" style="padding-bottom: 0px; margin: auto">Perfil
              <small>Altere as suas informações pessoais</small>
            </h1>
          </div>
        </div>



      </div>


    </section>







    <section class="content container-fluid">






      <div class="container">

        <!-- edit form column -->
        <div class="col-md-9 personal-info">

          <h3>Informação Pessoal</h3>

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-lg-3 control-label">Nome Completo:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value=" <%= user.name %> ">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="<%= user.email %>">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Username:</label>
              <div class="col-md-8">
                <input class="form-control" type="text" value="<%= user.username %>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password:</label>
              <div class="col-md-8">
                <input class="form-control" type="password" value="<%= user.password %>">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Nova password:</label>
              <div class="col-md-8">
                <input class="form-control" type="password" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Confirme nova password:</label>
              <div class="col-md-8">
                <input class="form-control" type="password" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>


              <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Guardar">
                <span></span>
                <input type="button" class="btn btn-default" value="reset" onclick="javascript:location.reload();">
              </div>
            </div>
        </div>
        </form>
      </div>
  </div>
  </div>
  <hr>














  </section>







  </div>
  <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->




















































  <% include partials/footer %>