
    <!-- Bootstrap core JavaScript -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/popper/popper.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/public/jqBootstrapValidation.js"></script>
    <script src="/public/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/public/agency.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmpZVK7FMt_auSdqoR4vqFzYtT72NFmxE&callback=initMap">
    </script>





  </body>

</html>
