<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">


    <!-- <meta name="viewport" content="width=device-width, initial-scale=1,"> -->
  
	<!-- maps -->

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="keywords" content="fotografia, exposição guimarães, guimarães, guimaraes">
    <meta name="description" content="exposicao fotografia em guimaraes">
    <meta name="author" content="">


    <meta name="google-signin-client_id" content="1096112723675-khj02ecp75efe2b7o49g41robaj5fn2q.apps.googleusercontent.com">

    <title>Norte Photography Workshop</title>
    <meta name="google-signin-scope" content="profile email">
    <script src="https://apis.google.com/js/platform.js" async defer></script>


 
    <!-- Bootstrap core CSS -->
    <link href="/public/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
    
    <link rel="icon" href="/public/img/photo-camera.png" />


    <!-- Custom fonts for this template -->

   	<script src="https://use.fontawesome.com/9a14895eb3.js"></script>
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/public/agency.css" rel="stylesheet">


	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  
	
  </head>

  <body id="admin">

