<div class="modal fade" id="galeria-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">



            <!-- Begin # DIV Form -->
            <div id="div-forms">


                <!-- Begin | Register Form -->
                <form id="register-foto">

                    <div class="modal-body">

                        <div id="div-register-msg">
                            <center>
                                <span id="text-register-msg">Criar Speaker</span>
                            </center>
                        </div>
                        <input type="file" name="foto">
                        <input id="register_name" class="form-control" type="text" name="name" placeholder="Nome completo" required>


                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Registar</button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->

            </div>
            <!-- End # DIV Form -->
        </div>
    </div>
</div>