<div class="modal fade" id="resposta-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

        

            <!-- Begin # DIV Form -->
            <div id="div-forms">


                <!-- Begin | Register Form -->
                <form id="enviar-mail">

                    <div class="modal-body">
				
                        <div id="div-register-msg">
                            <center>
                                <span id="text-register-msg">Enviar para <%=  e.email_pessoal %> </span>
                            </center>
                        </div>
                        <input id="resposta_texto" class="form-control" type="text" name="resposta" placeholder="Introduza aqui a sua resposta" min="0"  required>

                        <input id="resposta_email" class="form-control" type="hidden" name="email" value="0"  required>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->
               
            </div>
            <!-- End # DIV Form -->
		</div>
	</div>
</div>